<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ActiveCaseServlet</servlet-name>
        <servlet-class>ActiveCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoveredCaseServlet</servlet-name>
        <servlet-class>RecoveredCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalDeathCaseServlet</servlet-name>
        <servlet-class>TotalDeathCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DestroySession</servlet-name>
        <servlet-class>DestroySession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActiveCaseServlet</servlet-name>
        <url-pattern>/ActiveCaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoveredCaseServlet</servlet-name>
        <url-pattern>/RecoveredCaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalDeathCaseServlet</servlet-name>
        <url-pattern>/TotalDeathCaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestroySession</servlet-name>
        <url-pattern>/DestroySession</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            2
        </session-timeout>
    </session-config>
</web-app>
